@using MoxiWorks.Platform
@using Task = System.Threading.Tasks.Task

@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Offices</h1>
<table class="table">
    @foreach (Office o in ViewBag.Result.Item.Offices)
    {
      
        <tr>
            <td>@o.Name</td>
            <td>@Html.ActionLink("View", "Show", "Office", 
                     new {moxiWorksCompanyId =  ViewBag.CompanyId, moxiWorksOfficeId = o.MoxiWorksOfficeId }, new  { @class = "btn"})</td>
        </tr>
    }
    <tr>
        <td>Total Pages: @ViewBag.Result.Item.TotalPages</td>
        <td>Current Page: @ViewBag.Result.Item.PageNumber </td>
    </tr>
</table>
